.note-card-container {
    margin-bottom: 1rem;
    box-sizing: border-box;
    letter-spacing: 0.025em;
    font-weight: 400;
    font-family: "Poppins", "sans - serif";
    width: 100%;
}

.note-card-container .note-card {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    min-height: 100px;
}

.note-card h3 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.note-card p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-height: 15rem;
}