.landing-container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__tagline {
  margin-top: -6rem;
  font-size: 3.5rem;
}

.hero__highlite {
  color: var(--primary-dark);
}

.hero__para {
  padding: 1rem 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.img-res {
  height: 500px;
}

.hero__left > button {
  margin-left: 0;
  padding: 1rem;
}

.hero__left {
  padding-left: 2rem;
}

.btn {
  background-color: var(--primary-dark);
  margin: 1.3rem 0 0 0;
  padding: 0.7rem 1.5rem;
}

.btn:hover {
  opacity: 0.8;
}

.link {
  color: var(--black-color);
  text-decoration: none;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .hero__container {
    flex-direction: column;
    margin: 5rem auto;
    gap: 10rem;
  }
}
