.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-container .toolbar-left-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.toolbar-container i {
  font-size: 18px;
  cursor: pointer;
}

.toolbar-container .toolbar-left-container img {
  cursor: pointer;
}
