.notes {
  min-height: 100vh;
}

.notes-content {
  display: flex;
}

.notes-main {
  width: calc(100% - 16%);
  padding: 10px 0;
  left: 16%;
  position: relative;
  display: flex;
  align-items: center;
}

.notes-main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem; 
}

.notes-main .new-note-button {
  bottom: 8%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-dark);
  border: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  position: fixed;
}

.notes-main .new-note-button:hover {
  opacity: 0.8;
}

.notes-main .new-note-button i {
  font-size: 18px;
}